<div class ="topnav">
    <div class="topnav-right">    
    <a class ="active" routerLink="Blood">Blood-Request</a>
    <a class ="active" routerLink="Donar">Donar-Request</a>
    
    <a class ="active" routerLink="History">History</a>

    <a class ="active" routerLink="admin">Logout</a>
    
</div>
</div>

<div class="container">
    <div class="d-flex justify-content-center"> <h3> Blood Stock Record </h3> </div>
    <table class="table table-striped">
    <thead>
    <tr>
    <th>S.no</th>
    <th>Blood Group</th>
    <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataItem of BloodStockList">
    <td>{{dataItem.id}}</td>
    <td>{{dataItem.BloodGroup}}</td>
    <td>{{dataItem.BloodQuantity}}</td>
    </tr>
    </tbody>
    </table>
    </div>

