<!-- <div class="card" style="background-color:honeydew">
    <h4 class="card-header" style="color:indigo">Sign-In</h4>
  <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" name="email"  ngModel class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp">
     </div>
    
     <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password"  ngModel  class="form-control" id="password" placeholder="Password " aria-describedby="emailHelp">
     </div>
     <button type="submit" class="btn btn-primary">Login</button>
     <!-- <a routerLink="Register" class="btn btn-link">Register</a> -->
  <!--</form>
---->
<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>
      <!-- The content half -->
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">
              <!-- Demo content-->
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h3 class="display-4">User Login</h3>
                          <p class="text-muted mb-4">Create a login </p>
                          <form  #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
                              <div class="form-group mb-3">
                                  <input id="inputEmail" type="email" name="email"  ngModel  placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                              </div>
                              <div class="form-group mb-3">
                                  <input id="inputPassword" type="password" name="password"  ngModel  placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                  <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                  <label for="customCheck1" class="custom-control-label">Remember password</label>
                              </div>
                              <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                              <!-- <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button> -->
                              <li><a href="#"  routerLink="/Register" ><span class="glyphicon glyphicon-log-in"></span> Sign up</a></li>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


